



.navbar{
    z-index: 3;
}



body {
    background-color: #F9FAFC;
}

/*---------------hero */

.hero-inner img{
    position: relative;
    max-height: 700px;
    width: 100%;
    
}
.hero-inner{
    position: relative;
    max-height: 700px;
    width: 100%;
}

.text-overlay h1,
.text-overlay h2 {
    font-size: 75px; 
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: 0;
}

/*--------------------intro*/

.row img {
    width: 300px;
    height: auto;
    


}
.color-block1{
    background-color:#acacac5c;

}

.row{
    padding: 40px;
    font-family: Jost, sans-serif;
    font-size: 3vh;
    
}

.intro {
    position: relative;
    padding-top: 20px;
    padding-left: 50px;
    font-size: 4vh;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    
    padding-bottom: 20px;
    margin-bottom: 20px;
      }

.intro::after {
content: "";
position: absolute;
left: 50%;
bottom: 0;
transform: translateX(-50%);
width: 270px; 
height: 1px;
background-color: #ccc;
}

.icon-container {
    display: flex;
    justify-content: center;
  }
/*-------------------- menu images*/

.image-container {
    position: relative;
    width: 100%;
    padding-bottom: 75%; /* Adjust the aspect ratio as needed (e.g., 75% for 4:3, 56.25% for 16:9) */
    overflow: hidden;
  }

  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.overlay-content{
    font-size: 3vh;
    
}

.overlay

{display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */}
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

#map {
    width:100%;
    height: 400px;
    background-color: grey;
  }
  
@media (max-width: 1051px) {
    .text-overlay h1,
    .text-overlay h2 {
      font-size: 40px;
    }
  }

  /*------------ staff -----------*/

  .team_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .team_container .col-xs-12 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 10px;
  }

  .placeholder img {
    width: 200px;
    height: 200px;
  }
  
  .placeholder h4 {
    font-size: 18px;
    line-height: 1;
  }
  
  .placeholder span {
    font-size: 18px;
  }

  @media (max-width: 767px) { /* Apply styles for screens up to max-width 767px (extra small) */
    .placeholder {
      text-align: center;
    }
  }
  

 /*-------------------cards for routes*/

 .container_routes{
    display:flex;
   
    background-position: center;
    justify-content: center; /* center the flex items along the main axis */
    padding-bottom: 100px;
    padding-top: 150px;
   

 }

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color:#fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
   
       
 }

 .panel h4{
    font-size: 20px ;
    position: absolute;
    top: 20px;
    left: 15px;
    right: 15px;
    margin: 0;
    opacity: 0;
    z-index: 1;
    padding: 20px;
    overflow: active;
    text-align: justify;
    

 }

.panel .btn{
    opacity: 0;


}
 .panel h3{
    font-size: 26px ;
    position: absolute;
    bottom: 20px;
    left: 15px;
    right: 15px;
    margin: 0;
    opacity: 0;
    z-index: 1;
    padding: 20px;
    overflow: active;
    text-align: justify;
    
}

.panel.active{
    flex:5;
    transition: opacity 0.3s ease-in 0.4s;
}


.panel.active .overlay-routes { /* show overlay only when panel has the "active" class */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50px;
    
}
.panel.active h3{
    opacity: 1;
}


.panel.active h4{
    opacity: 1;
}

.panel.active .btn {
    opacity: 1;
}

.btn{
    z-index: 1;

}


@media (max-width: 480px){
    .container_students{
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5){

    display: none;
    }
}

@media (max-width: 1100px){
    .panel h3{
        font-size: 18px ;
        padding: 10px;}
    .panel h4{
            font-size: 14px ;
            padding: 10px;
}

}
    

@media (max-width: 445px){
    .panel h3{
        font-size: 15px ;
        padding: 5px;}
    .panel h4{
            font-size: 12px ;
            padding: 5px;
}
.panel {
    height: 100vh;
}

}

/*-----------card for returned route data */
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 30px;
}


.card {width: 18rem; 
    border: 1px solid #ccc; 
    padding: 10px; 
    margin-bottom: 10px;
background-color: aliceblue;}

.background {
    background-image: url("https://images.pexels.com/photos/552785/pexels-photo-552785.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-size: cover;
}