{% extends "base.html" %}

{% block content %}
<!-- This block represents the contnt section of the template -->

<div class="background">
  <!-- Background section -->
  <div class="container">
    <!-- Container div for content algnment -->
    <div class="row">
      <!-- Row div for layot -->

      <!-- Heading for displaing the most recent Bad Kleinkircheim Routes -->
      <h1>Most recent Bad Kleinkircheim Routess</h1>

      <div class="col-md-4">
        <!-- Column div for displaing route cards -->
        
        <!-- Loop through each route and display a card -->
        {% for route in routes %}
          <div class="card" style="margin-bottom: 10px;">  
            <div class="card-body">
              <!-- Display the route details -->
              <h5 class="card-title">Rider: {{ route.name }}</h5>
              <p>Start Time: <input type="time" value="{{ route.start_time|time:'H:i:s' }}"></p>
              <p>End Time: <input type="time" value="{{ route.end_time|time:'H:i:s' }}"></p>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="col-md-7">
        <!-- Column div for displaying the map -->
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>

<script
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>
<!-- Includ the Google Maps API script -->

<script src="../static/maps1.js"></script>
<!-- Includ the custom JavaScript file -->

{% endblock %}
<!-- End of content block -->
