{% extends "base.html" %}



{% block content %}
<div class="background"  >
    <div class="container">
      <div class="row">
        <h1>Bad Kleinkircheim Route</h1>
        <div class="col-md-6">
            <div class="card-route" style="margin-bottom: 10px;">  
              <div class="card-body">
                
                <p>The Bad Kleinkircheim route invites cyclists to embark on an extraordinary journey through the enchanting 
                    alpine landscape. This remarkable cycling route unveils a tapestry of breathtaking beauty, where rugged 
                    mountains soar majestically, verdant valleys stretch as far as the eye can see, and crystal-clear lakes 
                    glisten under the golden sun. The terrain presents a thrilling mix of challenges and rewards, with invigorating 
                    uphill climbs that push your limits and exhilarating descents that set your heart racing.<br><br> Along the route, you'll 
                    encounter hidden gems, picturesque hamlets, and cozy alpine villages, each offering a glimpse into the rich local 
                    culture and traditions. As you pedal through this mesmerizing landscape, you'll be captivated by the ever-changing 
                    panoramas, the soothing melodies of nature, and the invigorating scent of alpine freshness. <br><br>The Bad Kleinkircheim 
                    route promises an unforgettable adventure, where the harmony of nature's grandeur and the joy of cycling converge, 
                    leaving you with cherished memories and a profound connection to the captivating alpine realm.</p>
                
              </div>
            </div>
          
        </div>

      <div class="col-md-6">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>
  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTcR7zZ261S2sxhPtcnbGodSfbKWcVFWo&libraries=places"></script>
  <script src="../static/script.js"></script>
{% endblock %}