{% extends "base.html" %}



{% block content %}
<div class="background-site-route" >
    <div class="container">
      <div class="row">
        <h1>Bad Kleinkircheim Route</h1>
        <div class="col-md-6">
            <div id="route-details" class="card-route" style="margin-bottom: 10px;">  
              <div class="card-body">
                <!-- Route details card -->
                <p>
                  Difficulty: Hard<br>
                  Distance: 10k
                </p>
                  <!-- Route description -->
                <p>The Bad Kleinkircheim route invites cyclists to embark on an extraordinary journey through the enchanting 
                    alpine landscape. This remarkable cycling route unveils a tapestry of breathtaking beauty, where rugged 
                    mountains soar majestically, verdant valleys stretch as far as the eye can see, and crystal-clear lakes 
                    glisten under the golden sun.<br><br> The terrain presents a thrilling mix of challenges and rewards, with invigorating 
                    uphill climbs that push your limits and exhilarating descents that set your heart racing.
                
              </div>
            </div>
          
        </div>
          <!-- Map container -->
      <div class="col-md-6">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>

<!-- Google Maps API -->
  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTcR7zZ261S2sxhPtcnbGodSfbKWcVFWo&libraries=places"></script>
  <script src="../static/script.js"></script>
{% endblock %}