{% extends "base.html" %}

{% block content %}
<section class="hero">
    <div class="hero-inner">
        <img src="https://images.pexels.com/photos/544067/pexels-photo-544067.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Austria Image">
        <div class="overlay"></div>
        <div class="text-overlay">
            <h1>Cycle Alpine</h1>
            <h2>Come and discover Austria</h2>
        </div>
    </div>
</section>






<div class="container-lg my-5">
    <h3>Cycle alpine</h3>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="text-light image-container">
          <img class="menu-image" src="https://images.pexels.com/photos/2270328/pexels-photo-2270328.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Austria Image">
          <div class="overlay">
            <div class="overlay-content">publish a new route</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="text-light image-container">
          <img class="menu-image" src="https://images.pexels.com/photos/1208777/pexels-photo-1208777.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Austria Image">
          <div class="overlay">
            <div class="overlay-content">learn more about the area</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="text-light image-container">
          <img class="menu-image" src="https://images.pexels.com/photos/552785/pexels-photo-552785.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Austria Image">
          <div class="overlay">
            <div class="overlay-content">user testimonials</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="text-light image-container">
            <img class="menu-image" src="https://images.pexels.com/photos/554609/pexels-photo-554609.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Austria Image">




</div>
<script src="../static/script.js"></script>
{% endblock %}