{% extends "base.html" %}
{% block content %}
<section class="hero">
   <div class="hero-inner">
      <img src="https://images.pexels.com/photos/544067/pexels-photo-544067.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Austria Image">
      <div class="overlay"></div>
      <div class="text-overlay">
         <h1>Cycle Alpine</h1>
         <h2>Come and discover Austria</h2>
      </div>
   </div>
</section>
<div class="background">
   <div class="intro">
      <div class="row">
         <div class="col-md-8">Introducing Cycle Alpine: Your gateway to thrilling cycling adventures in the Austrian Alps. Track your time, compare with others, and conquer breathtaking routes. Join now and unleash the cyclist within you!      
            <br><br>
            Discover the thrill of cycling in Austria, where every pedal stroke unveils a world of unparalleled beauty and adventure. With its majestic Alps, pristine lakes, and charming villages, Austria offers a cycling experience like no other.
         </div>
         <div class="col-6 col-md-4"><img src="../static/images/austria_Fotor.jpg" alt="Image Description"></div>
      </div>
   </div>
   <div class="icon-container">
      <i class="fa-solid fa-bicycle"></i>
   </div>
   <div class="intro">
      <div class="row">
         <div class="col-6 col-md-4 image2">
            <img src="https://images.pexels.com/photos/358532/pexels-photo-358532.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image Description">
         </div>
         <div class="col-md-8" id="intro-last">
            Embark on breathtaking routes that wind through scenic landscapes, from snow-capped peaks to rolling meadows. Feel the rush as you conquer challenging mountain passes, rewarded with awe-inspiring panoramic views at every turn.
            <br><br>
            Immerse yourself in the rich culture and history of Austria as you explore picturesque towns along your journey. Indulge in the warm hospitality of locals, savor traditional cuisine, and uncover hidden gems tucked away in the heart of this remarkable country.
         </div>
      </div>
   </div>
   <div class="icon-container">
      <i class="fa-solid fa-bicycle"></i>
   </div>
   <div class="intro">
      <div class="row">
         <div class="col-md-8" id="intro-last">
            Whether you seek adrenaline-pumping mountain trails or leisurely rides along idyllic valleys, Austria caters to every cyclist's dream. Pedal through pristine forests, alongside crystal-clear lakes, and embrace the refreshing mountain air that invigorates your spirit.
            <br><br>
            Cycle in Austria and experience a true cycling paradise that combines natural wonders with unmatched charm. Get ready to create unforgettable memories and embark on an adventure that will leave you longing for more.
         </div>
         <div class="col-6 col-md-4"><img src="https://images.pexels.com/photos/7959927/pexels-photo-7959927.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image Description"></div>
      </div>
   </div>


</div><div class="color-block1">
  <div class="cards-heading"> Discover our free plant roots! Each route is graded from easy to hard, offering stunning views. Get route information, time your own progress, and compare with others. Start exploring today!.</div>
<div class="container_routes">
      <div class="panel active" style="background-image: url('https://images.pexels.com/photos/1687122/pexels-photo-1687122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')">
         <h3>Millstatt Route</h3>
         <h4> difficulty rating easy </h4>
         <div class="d-grid gap-2 col-6 mx-auto">
            <a href= "{% url 'create_event1' %}" class="btn btn-outline-light">View Route</a>
            <a href= "{% url 'millstatt_routes' %}" class="btn btn-outline-light">View most recent times </a>
            <a href= "{% url 'route' %}" class="btn btn-outline-light">View my most recent times</a>
         </div>
         <div class="overlay-routes"></div>
      </div>
      <div class="panel" style="background-image: url('https://images.pexels.com/photos/1686302/pexels-photo-1686302.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')">
         <h3>Wortersee</h3>
         <div class="d-grid gap-2 col-6 mx-auto">
            <a href= "{% url 'create_event3' %}" class="btn btn-outline-light">View Route</a>
            <a href= "{% url 'badkleinkircheim' %}" class="btn btn-outline-light">View most recent times </a>
            <a href= "{% url 'route' %}" class="btn btn-outline-light">View my most recent times</a>
         </div>
         <div class="overlay-routes"></div>
      </div>
      <div class="panel" style="background-image: url('https://images.pexels.com/photos/1428787/pexels-photo-1428787.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')">
         <h3>Bad Kleinkircheim</h3>
         <h4> difficulty hard
         </h4>
         <div class="d-grid gap-2 col-6 mx-auto">
            <a href= "{% url 'create_event2' %}" class="btn btn-outline-light">View Route</a>
            <a href= "{% url 'villach' %}" class="btn btn-outline-light">View most recent times </a>
            <a href= "{% url 'route' %}" class="btn btn-outline-light">View my most recent times</a>
         </div>
         <div class="overlay-routes"></div>
      </div>
      <div class="panel" style="background-image: url('https://images.pexels.com/photos/2737232/pexels-photo-2737232.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)">
         <h3>Villach</h3>
         <h4>
            difficulty rating medium  
         </h4>
         <div class="d-grid gap-2 col-6 mx-auto">
            <a href= "{% url 'create_event' %}" class="btn btn-outline-light">View Route</a>
            <a href= "{% url 'wortersee' %}" class="btn btn-outline-light">View most recent times </a>
            <a href= "{% url 'route' %}" class="btn btn-outline-light">View my most recent times</a>
         </div>
         <div class="overlay-routes"></div>
      </div>
   </div>

   <div class="container-lg my-5">
      <div class="row">
         <div class="col-12 col-md-6 col-lg-3 mb-4">
            <a href="{% url 'user_route' %}">
               <div class="text-light image-container">
                  <img class="menu-image" src="https://images.pexels.com/photos/2270328/pexels-photo-2270328.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Austria Image">
                  <div class="overlay">
                     <div class="overlay-content">publish a new route</div>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-12 col-md-6 col-lg-3 mb-4">
            <a href="{% url 'set_routes' %}">
               <div class="text-light image-container">
                  <img class="menu-image" src="https://images.pexels.com/photos/1208777/pexels-photo-1208777.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Austria Image">
                  <div class="overlay">
                     <div class="overlay-content">learn more about the area</div>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-12 col-md-6 col-lg-3 mb-4">
            <a href="{% url 'set_routes' %}">
               <div class="text-light image-container">
                  <img class="menu-image" src="https://images.pexels.com/photos/552785/pexels-photo-552785.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Austria Image">
                  <div class="overlay">
                     <div class="overlay-content">user testimonials</div>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-12 col-md-6 col-lg-3 mb-4">
            <a href="{% url 'team' %}">
               <div class="text-light image-container">
                  <img class="menu-image" src="https://images.pexels.com/photos/554609/pexels-photo-554609.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Austria Image">
                  <div class="overlay">
                     <div class="overlay-content">Our team</div>
                  </div>
               </div>
            </a>
         </div>
      </div>
   </div>
   
</div>
</div></div>
<script src="../static/script.js"></script>
{% endblock %}
