{% extends "base.html" %}

{% block content %}




<div class="card-own-route background-form">
  <div class="post-title">
    <h3>Some of our users' favorite routes</h3>
  </div>
  
  <div class="card-container">
    {% for own_route in object_list %}
      <div class="card">
        <div class="card-body">
          
          <h3>{{ own_route.name }}</h3>
         
          <p>Start Point: {{ own_route.start_point }}</p>
          <p>End Point: {{ own_route.end_point }}</p>
          <p>Difficulty: {{ own_route.difficulty_rating }}</p>
          <p>Description: {{ own_route.description }}</p>
          <p><img src=" {{ own_route.image.url}}" width="100%"></p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>



<script src="../static/script.js"></script>
{% endblock %}