{% extends "base.html" %}

{% block content %}





<form method="POST" action="{% url 'route' %}">
    <!-- title explaining how to use the page-->
    {% csrf_token %}
    <div class="background-form">
        <div class="own-route-intro">
            Type in your route start time and end time. Cant be bothered to type in you time?
            No worries just hit our 'start time' button when you set off and hit the 'stop time' when you
            reach your destination to see how you compare to others!
        </div>

        <!-- input for entering name -->
        <div class="time-input" class="container-intro">
            <div class="row justify-content-center">
                <div class="col-md-6 mb-2">
                    <label for="id_name" class="form-group"></label>
                    <input type="text" id="id_name" name="name" class="form-control" placeholder="Route Name">
                </div>
            </div>
            <!-- input for entering start time -->
            <div clas="time-input" class="row justify-content-center">
                <div class="col-md-6 mb-2">
                    <label for="id_start_time" class="form-group"></label>
                    <input type="time" id="id_start_time" name="start_time" class="form-control">
                </div>
            </div>

            <!-- input for entering end time -->
            <div id="time-input" class="row justify-content-center">
                <div class="col-md-6 mb-2">
                    <label for="id_end_time" class="form-group"></label>
                    <input type="time" id="id_end_time" name="end_time" class="form-control">
                </div>
            </div>
            <!-- input for entering route drop down menu -->
            <div id="time-input" class="row justify-content-center">
                <div class="col-md-6">
                    <label for="id_route" class="form-group"></label>
                    <select id="id_route" name="route" class="form-control">
                        <option value="milstatt">Milstatt</option>
                        <option value="bad_kleikircheim">Bad Kleikircheim</option>
                        <option value="villach">Villach</option>
                        <option value="wortersee">Wortersee</option>
                    </select>
                </div>
            </div>
        </div>





        <!-- subit button and start and end time button. 
        Press the start time and the start time will be filled with the current time -->

        <div id="form-submit" class="form-group text-center">
            <button type="button" id="currentStartTimeBtn" class="btn btn-success">Insert Current Start Time</button>
            <button type="button" id="currentEndTimeBtn" class="btn btn-success">Insert Current End Time</button>

            <button type="submit" id="btn-success" class="btn btn-success">Submit</button>
        </div>

</form>

<script>
    function getCurrentTimeWithSeconds() {
        var now = new Date();
        var hours = now.getHours().toString().padStart(2, '0');
        var minutes = now.getMinutes().toString().padStart(2, '0');
        var seconds = '00';
        return hours + ':' + minutes + ':' + seconds;
    }

    document.getElementById("currentStartTimeBtn").addEventListener("click", function() {
        var currentStartTime = getCurrentTimeWithSeconds();
        var startTimeField = document.getElementById("id_start_time");
        startTimeField.value = currentStartTime;
    });

    document.getElementById("currentEndTimeBtn").addEventListener("click", function() {
        var currentEndTime = getCurrentTimeWithSeconds();
        var endTimeField = document.getElementById("id_end_time");
        endTimeField.value = currentEndTime;
    });
</script>
{% endblock %}