{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="background">
    <div class="container">
        <div class="row">
            <h1>Most recent Wortersee Routes</h1>
            <div class="col-md-4">

                <!-- view saved routes from the 'wortersee ' route. See start ime and end time -->
                {% for route in routes %}
                <a href="{% url 'sitepostdetailroute' route.slug %}" class="card" style="margin-bottom: 10px;">
                    <div class="card" style="margin-bottom: 10px;">
                        <div class="card-body">
                            <h5 class="card-title">Rider: {{ route.name }}</h5>
                            <p>Start Time: {{ route.start_time }}</p>
                            <p>End Time: {{ route.end_time }}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>

            <div class="col-md-7">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTcR7zZ261S2sxhPtcnbGodSfbKWcVFWo&libraries=places"></script>
<script src="{% static 'maps.js' %}"></script>
{% endblock %}